:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Arial", "Helvetica", "sans-serif", "나눔고딕", "맑은고딕";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link { color: black; }
a:visited { color: black; }
a:hover { color: red; }
a:active { color: red; }

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.topBanner {
  margin-top:10px;
   margin-bottom:10px;
   max-width: 500px;
   height: auto;
   display: block; margin: 0 auto;
}

.tableDiv {
text-align: center;
}

.InfoTable {
  border-collapse: collapse;
  border-top: 3px solid #168;
  width: 800px;  
  margin-left: auto; margin-right: auto;
}  
.InfoTable th {
  color: #168;
  background: #f0f6f9;
  text-align: center;
}
.InfoTable th, .InfoTable td {
  padding: 10px;
  border: 1px solid #ddd;
}
.InfoTable th:first-child, .InfoTable td:first-child {
  border-left: 0;
}
.InfoTable th:last-child, .InfoTable td:last-child {
  border-right: 0;
}
.InfoTable tr td:first-child{
  text-align: center;
}
.InfoTable caption{caption-side: top; }

.navi_top {	width: 1350px; text-align: right; }
.navi_bottom { text-align: center; }

.boardView {
width:60%;
height:auto;
margin:auto;
text-align: left;
padding: 20px, 20px;
background-color:#FFFFFF;
border:4px solid gray;
border-radius: 20px;
}

.main {
text-align: center;
}

.field {
width: 90%;
height:35px;
outline:none;
color: #636e72;
font-size:16px;
background: none;
border-bottom: 2px solid #adadad;
margin: 30px;
padding: 10px 10px;
}

.content {
width: 90%;
height: 350px;
overflow: auto;
margin: 22px;
padding: 10px;
box-sizing: border-box;
border: solid #adadad;
text-align: left;
font-size: 16px;
resize: both;
}

.LoginForm {
  width:60%;
  height:auto;
  margin: auto;
  padding: 20px, 20px;
  text-align: left;
  background-color:#FFFFFF;
  text-align: center;
  border:4px solid gray;
  border-radius: 30px;
  }

.WriteForm {
width:50%;
height:auto;
margin: auto;
padding: 20px, 20px;
text-align: left;
background-color:#FFFFFF;
text-align: center;
border:4px solid gray;
border-radius: 30px;
}

.ModifyForm {
width:60%;
height:auto;
margin: auto;
padding: 20px, 20px;
text-align: left;
background-color:#FFFFFF;
text-align: center;
border:4px solid gray;
border-radius: 30px;
}

.input_field {
width: 90%;
border:none;
border-bottom: 2px solid #adadad;
margin: 10px;
padding: 10px;
outline:none;
color: #636e72;
font-size:16px;
height:25px;
background: none;
}

.input_content{
width: 90%;
height: 300px;
padding: 10px;
box-sizing: border-box;
border: solid #adadad;
font-size: 16px;
resize: both;
}

.likeClick, .dislikeClick {
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	border: solid 1px #a0a0a0;
	display: inline-block;
	background-color: #d2d2d2;
	border-radius: 20px;
}

.fileuploadForm {
	margin: 5px;
	padding: 5px 5px 2px 30px;
	text-align: left;
	width: 90%;
}

.fileZone {
	border: solid #adadad;
	background-color: #a0a0a0;
	width: 97%;
	height: 80px;
	color: white;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
	font-size: 120%;
}

.fileUploadList{
	border: solid #adadad;
	width: 97%;
	height: auto;
	padding: 5px;
	font-size: 120%;
}

.filename {
	display:inline-block;
	vertical-align: top;
	width: 50%;
}
.filesize {
	display:inline-block;
	vertical-align:top;
	color: #30693D;
	width: 30%;
	margin-left: 10px;
	margin-right: 5px;
}

.statusbar {
	border-bottom: solid 1px #92AAB0;
	min-height: 25px;
	width: 96%;
	padding: 10px 10px 10px 10px;
	vertical-align: top;
}

.statusbar:nth-child(odd){
	background: #EBEFF0;
}

.btn_modify  {
position:relative;
left:20%;
transform: translateX(-50%);
margin-top: 20px;
margin-bottom: 10px;
width:40%;
height:40px;
background: red;
background-position: left;
background-size: 200%;
color:white;
font-weight: bold;
border:none;
cursor:pointer;
transition: 0.4s;
display:inline;
}

.btn_delete  {
position:relative;
left:20%;
transform: translateX(-50%);
margin-top: 20px;
margin-bottom: 10px;
width:40%;
height:40px;
background: pink;
background-position: left;
background-size: 200%;
color:white;
font-weight: bold;
border:none;
cursor:pointer;
transition: 0.4s;
display:inline;
}

.b_delete{
  display: inline-block;
  width: 10%;	
  cursor:pointer;
  vertical-align:top;
  text-align: center;
  background: pink;
  border: solid red;
}

.btn_write  {
position:relative;
left:20%;
transform: translateX(-50%);
margin-top: 20px;
margin-bottom: 10px;
width:40%;
height:40px;
background: red;
background-position: left;
background-size: 200%;
color:white;
font-weight: bold;
border:none;
cursor:pointer;
transition: 0.4s;
display:inline;
}

.btn_cancel  {
position:relative;
left:20%;
transform: translateX(-50%);
margin-top: 20px;
margin-bottom: 10px;
width:40%;
height:40px;
background: pink;
background-position: left;
background-size: 200%;
color:white;
font-weight: bold;
border:none;
cursor:pointer;
transition: 0.4s;
display:inline;
}

.btn_login  {
position:relative;
left:40%;
transform: translateX(-50%);
margin-bottom: 40px;
width:80%;
height:40px;
background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
background-position: left;
background-size: 200%;
color:white;
font-weight: bold;
border:none;
cursor:pointer;
transition: 0.4s;
display:inline;
}

.bottom_menu {
margin-top: 20px;
}

.bottom_menu > a:link, .bottom_menu > a:visited {
background-color: #FFA500;
color: maroon;
padding: 15px 25px;
text-align: center;
display: inline-block;
text-decoration: none;
}

.bottom_menu > a:hover, .bottom_menu > a:active {
background-color: #1E90FF;
text-decoration: none;
}
